@font-face {
font-family: 'BKoodakBold';
src: url('fonts/koodak/BKoodakBold.eot?#') format('eot'),
url('fonts/koodak/BKoodakBold.ttf') format('truetype'),
url('fonts/koodak/BKoodakBold.woff') format('woff');
}
@font-face {
font-family: 'BElham';
src: url('fonts/BElham.eot?#') format('eot'),
url('fonts/elham/BElham.ttf') format('truetype'),
url('fonts/elham/BElham.woff') format('woff');
}
@font-face {
font-family: 'BTitrTGEBold';
src: url('fonts/titr/BTitrTGEBold.eot?#') format('eot'),
url('fonts/titr/BTitrTGEBold.ttf') format('truetype'),
url('fonts/titr/BTitrTGEBold.woff') format('woff');
}
body
{
	background:#f1f1f1;
	text-align:right;
	direction:rtl;
	font-size:small;
	margin:0;
	font-family:BKoodakBold,'BKoodakBold',tahoma;
}
input[type=text],input[type=password]
{
		font-family:'comic sans ms','BKoodakBold';
	 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#titlePost
{
	border:0px;
	font-size:medium;
	border-left:5px solid silver;

}
#titlePost:hover
{
	border-left:5px solid blue;
}
#picturePost
{
	border:0px;
	font-size:medium;
	text-align:left;
	border-left:5px solid silver;
}
#picturePost:hover
{
	border-left:5px solid green;
}
#contentPost
#contentPost:hover
{
		border-left:5px solid green;

}

input[type=text]:hover,input[type=password]:hover,textarea:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}
input[type=button], input[type=submit], input[type=reset] {
	width:100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover
{
   border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
textarea
{
color:black;
font-family:'comic sans ms','BKoodakBold';
width:98%;
height:300px;
border:0px;
border-left:5px solid silver;
padding:5px;
-webkit-transition: 0.5s;
transition: 0.5s;
outline: none;
}
textarea:hover
{
	border-left:5px solid orange;
}
a
{
	text-decoration:none;
}
.button {
 font-family:'comic sans ms','BKoodakBold';
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 2px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
    position:relative;

}

.button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button span:after {
  content: "\00a0 * از اطلاعات وارد شده مطمئن هستید؟ در صورت اشتباه بودن احتمال مسدود شدن پنل کاربری برای شما وجود دارد.";
  white-space: pre-line;
  position:absolute;
  font-size:medium;
  opacity: 0;
  top: 0;
  right:0;
  transition: 0.5s;
}
.button:hover span
{
	padding-top:3%;
}

.button:hover span:after {
  opacity: 1;
}
#box-setting
{
padding:3% 7%;
}
#right
{
	float:right;
	width:30%;
}
#left
{
	float:left;
	width:68%;
	padding-right:2%;
}
#me
{
	color:black;
}
#images img
{
	width:200px;
	height:200px;
	box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius:100px;
}
.right-box:nth-child(1)
{
	background-image:url('/me/images/3.jpg');
	background-size:100%;
	color:black;
	-webkit-transition:1s; /* For Safari 3.1 to 6.0 */
    transition:1s;
}
.right-box:nth-child(1):hover
{

	color:black;
	text-shadow:10px 10px 10px red;
}
.right-box:nth-child(3)
{
	background-image:url('/me/icon/chart.png');
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
	font-weight:bold;
}

.right-box
{
	padding-right:2%;
	padding-left:2%;
	padding-top:2%;
	padding-bottom:2%;
	height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:right;
	font-family:BElham,'BElham',tahoma;
	transition: 0.3s;
}
.right-box:hover
{
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.status
{
	font-family:BTitrTGEBold,'BTitrTGEBold',tahoma;
	font-size:large;
	color:yellow;
	text-align:center;
}
.title
{
	font-size:x-large;
	color:black;
	padding-bottom:10px;
}
.title-right
{
	font-size:x-large;
	color:silver;
	text-align:center;
}
.title-post
{
	width:98.6%;
	text-align:center;
	font-size:x-large;
	font-weight:bold;
	font-family:BElham,'BElham',tahoma;
	border-bottom:2px solid silver;
	padding:5px;
	
}

.timedate
{
	color:black;
	text-align:center;
	float:right;
	width:20%;
	padding-top:5px;


}
.timedate i
{
	float:right;
	text-indent:25px;
}
.hrclass
{
	margin-top:3%;
}
.time
{
	padding-right:2%;
}
.text-post
{
	background:#f1f1f1;
	font:12px tahoma;
	float:left;
	width:76.3%;
	height:200px;
	border-right:6px solid silver;
	padding:10px;
	
}
.text-more-post
{
	background:#f1f1f1;
	font:12px tahoma;
	float:left;
	width:76.3%;
	height:100%;
	border-right:6px solid silver;
	padding:10px;
}
.border-post
{
	    border-right: 8px solid silver;

}
.box-skill
{
	width:98%;
	padding:1%;
	background-color:silver;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.both
{
	clear:both;
}
.size-skill
{
	background-color:green;
	text-align:center;
	color:white;
	float:left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.avatar
{
	width:100%;
}
.left-box
{
	background-image:url('/me/icon/background1.png');
	background-size:100% 100%;
	padding-right:2%;
	padding-left:2%;
	padding-top:2%;
	padding-bottom:2%;
	height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.error-class
{
	margin-bottom: 15px;
    padding: 4px 12px;
	display:none;
}
.public-class
{
	margin-bottom: 15px;
    padding: 4px 12px;
}
.danger:before
{
	content:'خطایی رخ داده است.';
}
.danger
{
	background-color: #ffdddd;
    border-right: 6px solid #f44336;
}
.success:before
{
	content:'با موفقیت انجام شد.';
}
.success {
    background-color: #ddffdd;
    border-right: 6px solid #4CAF50;
}
.info:before
{
	content:'موردی یافت نشد.';
}
.info {
    background-color: #e7f3fe;
    border-right: 6px solid #2196F3;
}
.admin:before
{
	content:'اطلاعات مدیریت تأیید شد.';
}
.admin {
    background-color: #e7f3fe;
    border-right: 6px solid #2196F3;
		font-family:BKoodakBold,'BKoodakBold',tahoma;
	color:black;
}







